<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/400.css" />
    <title>400 Bad Request</title>
  </head>
  <body>
    <div class="error-container">
      <h1>400</h1>
      <p>Bad Request</p>
      <p>
        The request could not be understood by the server due to malformed
        syntax.
      </p>
      <a href="/" class="back-link">Go Back to Homepage</a>
    </div>
  </body>
</html>
