<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About ASCII Art Web</title>
    <link rel="stylesheet" href="static/about.css" />
  </head>
  <body>
    <div class="header">
      <h1>About ASCII Art Web</h1>
    </div>
    <div class="container">
      <div class="main-content">
        <section class="description">
          <h2>Description</h2>
          <p>
            ASCII Art Web is a web-based application that allows users to
            convert text into ASCII art using different banners such as
            "shadow", "standard", and "thinkertoy". Users can input text and
            select their preferred banner to generate and display the ASCII art.
          </p>
        </section>
        <section class="authors">
          <h2>Authors</h2>
          <ul>
            <li>Author 1: [Valeria Muhembele]</li>
            <li>Author 2: [Sheilla Juma]</li>
          </ul>
        </section>
        <section class="usage">
          <h2>Usage</h2>
          <ul>
            <li>
              Clone the repository:
              <code
                >git clone
                [https://learn.zone01kisumu.ke/git/vmuhembe/ascii-art-web-export-file.git]</code
              >
            </li>
            <li>
              Navigate to the project directory: <code>cd ascii-art-web</code>
            </li>
            <li>Run the server: <code>go run main.go</code></li>
            <li>
              Open your browser and go to: <code>http://localhost:3000</code>
            </li>
          </ul>
        </section>
        <section class="implementation-details">
          <h2>Implementation Details</h2>
          <p>
            The application is built using Go's HTTP package to create a web
            server that handles GET and POST requests. HTML templates are used
            for rendering the web pages, and the ASCII art conversion is
            performed on the server side based on user input. CSS is used for
            styling the web pages, ensuring they are responsive and
            user-friendly.
          </p>
          <p>
            The main algorithm involves parsing the input text and converting
            each character into its corresponding ASCII art representation based
            on the selected banner.
          </p>
        </section>
        <a href="/" class="back-link">Go Back to Homepage</a>
      </div>
    </div>
    <div class="footer">
      <p>&copy; 2024 ASCII Art Web. All rights reserved.</p>
    </div>
  </body>
</html>
