<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/acii.css">
  <title>Document</title>
  <style>
    
  </style>
</head>
<body>
  <form id="downloadForm" method="get" action="/download">
    <h1>Ascii Art</h1>
    <pre id="outputPre">{{.Output}}</pre>
    <input type="hidden" id="outputField" name="output" />
    <div class="foot">
      <div class="format">
        <h3>Select file format</h5>
        <select name="format" id="format" required>
          <option value=".html">Html File</option>
          <option value=".txt">Text File</option>
          <option value=".md">Markdown File</option>
        </select>
      </div >
      
      <button name="export" type="submit">Download Art</button>
    </div>
    
  </form>
  <a href="/" class="back-home">Go to Homepage</a>

  <script>
    document
      .getElementById("downloadForm")
      .addEventListener("submit", function () {
        var preContent = document.getElementById("outputPre").innerText;
        document.getElementById("outputField").value = preContent;
      });
  </script>
</body>
</html>
