body {
    font-family: Arial, sans-serif;
    background-color: #6694ba;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    margin-top: 0;

    background-color: #053363;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* max-width: 600px; */
    /* max-width: 90vw; */
    width: 100%;
    color: #ffffff;
    
  }
  h1{
    text-align: center;

  }

  #outputPre {
    background-color: #e8e8e8;
    padding: 10px;
    border-radius: 4px;
    
    background-color: #ffffff;
    color: #0c011a;
    width: 80vw;
    max-width: 1200px;
    overflow: auto;
    padding: 10px;
    height: 50vh;
    border: 1px solid #00468c;
    margin: 20px auto;
    border-radius: 8px;
  }

  select, button {
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    height: 60px;
    padding:15px 25px;
  }

  button:hover {
    background-color: #0056b3;
  }

  .back-home {
    margin-top: 20px;
    background-color: #053363;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    color: #ffffff;
  }

  .back-home:hover {
    /* text-decoration: underline; */
    color: #007bff;
    background-color: #0c011a;
  }
  .foot{
    display: flex;
    justify-content: space-evenly;
  }
  .format{
    font-size: 20px;
  }